@using System.Linq;
@using System.Linq.Expressions;
@model UserManagementSystem.Model.DTOModels.LoginDto


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
          media="screen" />

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="row">
            <div class="offset-md-3 col-md-4">
            </div>

            <div class="offset-md-3 col-md-4">
                <h2 class="form-signin-heading">
                    Login
                </h2>
                @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">

                        @Html.Display("ErrorMessage")

                    </div>
                }
                @Html.Label("User Name")
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autocomplite = "false" })
                <div>
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error" })
                </div>
                <br />
                @Html.Label("Password")
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                </div>
                <div class="checkbox">
                    @Html.LabelFor(m => m.RememberMe, new { @for = "Remember Me" })
                    @Html.CheckBoxFor(m => m.RememberMe)
                </div>
                <br />
                <input type="submit" value="Submit" class="btn btn-primary" />
                <br />
                <br />
                <div id="dvMessage" class="alert alert-danger hide">
                    <strong>Error!</strong>
                    <span>@ViewBag.Message</span>
                </div>
            </div>
        </div>
    }

    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                $("#dvMessage").show();
            });
        </script>
    }
</body>
</html>